<!---->

<div class="whole">
  <h4>Regexes</h4>

  Surrounding slashes ( / ) aren't needed.
  <br>
  <br>

  <div id="nows">
    <div *ngFor="let now of nows; index as at"
         [id]="idFromGroupAndIndex(&quot;nows&quot;, at)"
         class="regex-frame"
         draggable="true"
         (dragstart)="whenRegexDragStarted($event)"
         (dragover)="whenRegexDraggedOver($event)"
         (dragexit)="whenRegexDraggedOff($event)"
         (drop)="whenRegexDropped($event)"
    >
      <div class="regex">
        <input type="text" [value]="now.expression" [placeholder]="prompt" class="regex-input">
        <input type="text" [value]="now.instead" [placeholder]="instead" [hidden]="!(now.isRewrite)"
               class="regex-input"
        >
        <input type="checkbox"
               id="IsRewrite"
               [value]="now.isRewrite"
               (click)="whenIsRewriteClicked($event)"
        >
        <button (click)="dumpRegexFromNows($event)">X</button>
      </div>
    </div>
    <div class="regex-frame" id="now-new"
         (dragstart)="whenRegexDragStarted($event)"
         (dragover)="whenRegexDraggedOver($event)"
         (dragexit)="whenRegexDraggedOff($event)"
         (drop)="whenRegexDropped($event)"
    >
      <div class="regex">
        <input id="Expression" type="text" [placeholder]="prompt" class="regex-input">
        <input id="Instead" type="text" [placeholder]="instead" [hidden]="false" class="regex-input">
        <input type="checkbox" id="IsRewrite">
        <button (click)="addRegexToNows($event)">+</button>
      </div>
    </div>
  </div
  >

  <br>
  <hr>
  <br>

  <div id="laters">
    <div *ngFor="let later of laters; index as at"
         [id]="idFromGroupAndIndex(&quot;laters&quot;, at)"
         class="regex-frame"
         draggable="true"
         (dragstart)="whenRegexDragStarted($event)"
         (dragover)="whenRegexDraggedOver($event)"
         (dragexit)="whenRegexDraggedOff($event)"
         (drop)="whenRegexDropped($event)"
    >
      <div class="regex">
        <input type="text" [value]="later.expression" class="regex-input">
        <input type="text" [value]="later.instead"
               [placeholder]="instead"
               [hidden]="!(later.isRewrite)"
               class="regex-input"
        >
        <input type="checkbox"
               id="IsRewrite"
               [value]="later.isRewrite"
               (click)="whenIsRewriteClicked($event)"
        >
        <button (click)="dumpRegexFromLaters($event)">X</button>
      </div>
    </div>
    <div class="regex-frame" id="later-new"
         (dragstart)="whenRegexDragStarted($event)"
         (dragover)="whenRegexDraggedOver($event)"
         (dragexit)="whenRegexDraggedOff($event)"
         (drop)="whenRegexDropped($event)"
    >
      <div class="regex">
        <input id="Expression" type="text" class="regex-input" [placeholder]="prompt">
        <input id="Instead" type="text" [placeholder]="instead" [hidden]="false" class="regex-input">
        <input type="checkbox" id="IsRewrite">
        <button (click)="addRegexToLaters($event)">+</button>
      </div>
    </div>
  </div>
</div>
