
<h2>Regexer</h2>

<div class="grid">
  <div class="left">
    <app-regexes></app-regexes>
  </div>
  <div class="middle">
    <app-text></app-text>
    <app-action
      (rewriteStarted)="atRewriteClick()"
      (retrieveStarted)="atRetrieveClick()"
    ></app-action>
  </div>
  <div class="right">
    <app-result></app-result>
  </div>
</div>

<br>
<br>

More...
<ul>
  <li>
    Switching to using RegexComponent, ViewChild, etc.,
    for each regex, since that supports ngForm better, etc.
  </li>
  <li>Maybe changing things around to make group / regex handling cleaner.</li>
  <br>
  <li>Storing regexes (maybe with nows vs. laters) in localStorage.</li>
  <li>Implementing regex flags / settings at the UI end.</li>
  <li>Using regex flags / settings when retrieving / rewriting.</li>
  <br>
  <li>Adding file reading.</li>
  <li>Adding file writing as downloads.</li>
  <li>Adding copying to the clipboard.</li>
  <br>
  <li>Dropping the default regexes.</li>
  <li>More clearing, automatic replacing when retrieving / rewriting, etc.</li>
  <li>Unit testing everything.</li>
  <br>
  <li>Dropping RegexComponent if I never use it.</li>
</ul>
