<!---->

<div class="whole">
  <h4>Text</h4>

  Drop a file below.

  <br>
  <br>

  <input type="file">

  <br>
  <br>

  <button>Clear</button>

  <br>
  <br>
  <hr>
  <br>

  Or paste a text below.

  <br>
  <br>

  <textarea rows="5" style="width: 90%" [(ngModel)]="text"></textarea>

  <br>
  <br>

  <button>Clear</button>
</div>
