/**/

* {
  font-family: sans-serif;
}

body {
  padding: 25px;
  color: white;
  background: dimgray;
}

button {
  font-size: 100%;
  border-radius: 5px;
  padding: 3px 10px;
  background: transparent;
}

input[type=checkbox] {
  transform: scale(1.25, 1.25);
  margin: 5px;
}

input[type=file] {
  font-size: 100%;
}

.big {
  font-size: 125%;
  padding: 10px;
}

hr {
  opacity: 60%;
}

.grid {
  color: black;
  background: lightgray;
  display: grid;
  grid-template-columns: 35% 25% 35%;
}

.left {
  grid-column: 1 / 1;
  padding: 0px 10px;
}

.middle {
  grid-column: 2 / 2;
  padding: 0px 10px;
}

.right {
  grid-column: 3 / 3;
  padding: 0px 10px;
}

.spacer {
  white-space: pre-wrap;
  margin-left: 5px;
  margin-right: 5px;
}

.regex {
  border: 1px solid gray;
  border-radius: 3px;
  margin: 10px 0px;
  padding: 5px;
}

.regex-frame {
  /* no styling: for consistency against :hover only */
}

.regex-frame:hover {
  transform: scale(1.025, 1.025);
  transition: 0.125s;
}

.over {
  border-top: 5px solid gold;
  transform: scale(1.025, 1.025);
  transition: all 0.25s;
}

.regex-input {
  font-size: 110%;
  font-family: monospace;
  width: 85%;
  border: none;
  min-height: 20px;
}

