<!---->

<div class="whole">
  <h3>Result</h3>

  <textarea name="" id="" rows="10" style="width: 90%">{{ results }}</textarea>

  <br>
  <br>

  <button>Copy</button>

  <br>
  <br>

  <button>Download as file</button>
</div>
